.no-post{
    max-width: 50%;
    margin: 0 auto;
    background-color: #fff;
    border-radius:10px;
    border: 1px solid #adadfb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    margin-top: 4rem;
}
.no-post .no-post-icon{
    font-size:4rem;
    border: 5px solid rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 1.5rem;
    margin: .4rem;
    color: rgba(0, 0, 0, 0.6);
}
.no-post .no-post-text{
    margin-top: 1rem;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.6);
}